* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header{
    max-width: 100%;
    max-height: 4em;
    flex-shrink: 0;
    background: linear-gradient(90deg, #566741 0%, #687A42 100%);
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-left: 2em;
}

.title {
    color: #FFF;
    font-family: "Baloo Bhai 2";
    font-style: normal;
    font-size: 2em;
}

.text-align-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: "Baloo Bhai 2";
    font-style: normal;
    font-size: 0.5em;
}

a{
    color: #FFF;
    text-decoration: none;
}
a:hover{
    color: #48AB94;
}

.button-group {
    display: flex;
    
}

.btn1{
    cursor: pointer;
    color: #FFF;
    font-family: "Baloo Bhai 2";
    font-size: 1em;
    width: 12em;
    height: 4em;
    flex-shrink: 0;
    background: #3C4D2C;
    border: #3C4D2C;
}
.btn2{
    cursor: pointer;
    color: #FFF;
    font-family: "Baloo Bhai 2";
    font-size: 1em;
    width: 12em;
    height: 4em;
    flex-shrink: 0;
    background: #4B5E47;
    border: #4B5E47;
}


.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7E8D67;
  background-size: cover;
  height: 45em;
  width: 100%;
}

.txt-tainer {
  color: white;
  font-family: "Baloo Bhai", cursive;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.sepline{
    width: 100%;
    height: 0.02em; 
    background: white;
}

.container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45em; 
    background: white;
}

.text-a1{
    color: #35674F;
    text-align: center;
    font-family: "Baloo Bhai 2";
    font-size: 2em;
    font-weight: 1000;
}

.text-a2{
    color: #384B42;
    text-align: center;
    font-family: "Baloo Bhai 2";
    font-size: 1.5em;
    padding-bottom: 2%;
}

.sepline-a{
    width: 100%;
    height: 0.1em; 
    background: #878787;

}

.container2-b{
    width: 100%;
    height: 10em; 
    background: url(pic/seppage.png) no-repeat center;
    background-size: cover;
}
.sep{
    width: 100%;
    height: 2em;
}

.sep-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    font-family: "Baloo Bhai 2";
    color: #3D3D3D;
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
}

.container2-c{
    width: 100%;
    height: 10em; 
    
}

.container3{
    width: 100%;
    height: 15em; 
    background: linear-gradient(0deg, #FFF 0%, #EEF3EC 100%);

}

.container2-1{
    width: 100%;
    height: 19em; 
    background: white;
}

.text-box{
    padding-top: 3%;
    padding-left: 0.5%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    border: 5% solid rgba(56, 75, 66, 0.44);
    background: #FFF;
    text-align: center;
    align-items: center;
}

.text-set{
    width: 18em;
    height: 2.5em;
    border-radius: 1em;
    font-size: 1em;
}

.go-btn{
    color: #30263D;
    font-family: "Baloo Bhai 2";
    font-weight: 800;
    width: 3.2em;
    height: 3em;
    border-radius: 1em;
    border-color: #37D0AC;
    background: #37D0AC;
}

.container2-2{
    width: 100%;
    height: 50em; 
    background: white;
}

.status-box{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5%;

}

.s-box{
    width: 24%;
    height: 27em;
    border-radius: 10px;
    border: 5px solid rgba(81, 101, 91, 0.42);
    background: #FFF;
    box-shadow: 0 50px 50px 0 #E0E6DB;
}

.container2-3{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50em; 
    background: white;
}
.setting-box{
    position: relative;
    display: flex;
    justify-content: left;
    width: 60%;
    background-color: #fff;
}

.container2-3-1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30em; 
    background: white;
}


.head-setting{
    width: 100%;
    color: #384B42;
    font-size: 1.3em;
    font-family: "Baloo Bhai 2";
}

.dot{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
    height: 0.5em;
    width: 0.5em;
    background-color: #48AB94;
    border-radius: 50%;
}

.sepline-b{
    width: 43.8em;
    height: 0.1em; 
    background: #92A8A3;

}

.sett-boxes{
    padding-top: 5em;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.setting-a{
    width: 25%;
    height: 10em;
    border-radius: 0.1em;
    border: 5px solid rgba(81, 101, 91, 0.42);
    background: #FFF;
}

.container2-4{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15em; 
    background: #283B32;
}

.info-box{
    padding-top: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15%;
    font-size: 1em;
    font-family: "Baloo Bhai 2";
}

.box-left{

    width: 60%;
    color: #FFF;
}

.box-right{

    width: 40%;
    color: #FFF;
}

.sepline-c{
    width: 43.8em;
    height: 0.1em; 
    background: #48AB94;
}

.sepline-c1{
    width: 30em;
    height: 0.1em; 
    background: #48AB94;
}

.txt-info{
    
    color: #ACACAC;
    font-family: "Baloo Bhai 2";
}